@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Shadcn light */
    --radius: 0.5rem;

    /* Slate */
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    /* Custom light */
    --accent-color: #0f9494;
    accent-color: var(--accent-color);

    --link: 200, 98%, 39%;

    --info: 200 95% 95%;
    --info-foreground: 200, 94%, 40%;
    --info-border: 200, 94%, 90%;

    --success: 120 95% 90%;
    --success-foreground: 120, 90%, 30%;
    --success-border: 120, 90%, 80%;

    --error: 0 95% 90%;
    --error-foreground: 0, 90%, 30%;
    --error-border: 0, 90%, 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  :root {
    color-scheme: light;

    --sat: env(safe-area-inset-top);
    --sar: env(safe-area-inset-right);
    --sab: env(safe-area-inset-bottom);
    --sal: env(safe-area-inset-left);
  }

  body {
    @apply bg-background text-foreground;

    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
      Roboto, Ubuntu, sans-serif;
  }

  .overflow-y-auto {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
}