.cache
node_modules
build
build-*
out

.DS_Store
.env
.env.*
!.env.example
!.env.e2e

apps/database/pb_data
apps/database/pocketbase

scripts/gen-data

sprite-*

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

*.log
*.cpuprofile
*.tsbuildinfo
vite.config.ts.timestamp*
test-results/
playwright-report
blob-report
playwright/.cache/
tests-examples
coverage

storybook-static
chromatic-*.xml

dependency-graph*
.turbo/
graph-*

.react-router/